<!-- <div class="container" style="width: 100%; height: 89.5vh; background: #fff">
  <div class="d-flex justify-content-center align-items-start">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center">
        <div
          class="d-flex align-items-center justify-content-center bg-danger text-white border border-dark"
          style="width: 60px; height: 60px"
        >
          <h1 class="m-0 fw-bold flex" style="font-size: 50px">R</h1>
        </div>
        <div class="ms-3 mt-3">
          <h1 class="fw-bold m-0">Company Name</h1>
          <h4 class="m-0">Address: xxxxxxxxx</h4>
          <h4 class="m-0">Tel: xxxxxxxxx</h4>
        </div>
      </div>
      <div class="mt-4">
        <div class="d-flex">
          <h4>From: <span class="underline"></span></h4>
          <h4 class="ms-3">to: <span class="underline"></span></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex mt-4 justify-content-between mb-9 p-3">
    <h4>Party Name: <span class="underline"></span></h4>
    <h4>Closing Balance: 291093.00</h4>
  </div>
</div>
-->
<div class="container" style="width: 100%; height: 89.5vh; background: #fff">
  <div class="d-flex justify-content-center align-items-start">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center">
        <div
          class="d-flex align-items-end justify-content-end bg-danger text-white"
          style="width: 60px; height: 60px"
        >
          <h3 class="fw-bold" style="font-size: 70px; margin-bottom: -20px">
            R
          </h3>
        </div>
        <div class="ms-3 mt-3">
          <h1 class="fw-bold mt-3">Company Name</h1>
          <h4>Address: xxxxxxxxx</h4>
          <h4>Tel: xxxxxxxxx</h4>
        </div>
      </div>
      <div class="mt-4">
        <div class="d-flex">
          <h4>From: <span class="underline"></span></h4>
          <h4 class="ms-3">to: <span class="underline"></span></h4>
        </div>
      </div>
      <div class="d-flex mt-2 justify-content-between mb-3 py-2">
        <h4>Party Name: <span class="underline"></span></h4>
        <h4>&nbsp;Closing Balance: 291093.00</h4>
      </div>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Particulars</th>
            <th>Folio</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data rows will be here -->
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Total</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
      <div class="footer-text">Print Date & Time: 12-12-24 12:00:00</div>
    </div>
  </div>
</div>
