<div class="container-fluid px-4 text-center my-2" style="background: #cecece; height: 100vh;">

    <div class="card shadow border bg-dark py-3">

      <div class="row">
        <div class="col-4"> 
          <h4 class="text-light">Report</h4>
        </div>
        <div class="col-6"></div>
        <div class="col-2 text-right">
           <div class="btn-group justify-flex-end">
            <button class="btn btn-light btn-block">
              Party Ledger
            </button>
            <button class="btn btn-light">
              Item Ledger
            </button>
            <button class="btn btn-light">
              Sale Report
            </button>
         </div>

        </div>
      </div>
    </div>
  
  
    <div class="wrapper py-2" >

      <app-print-form></app-print-form>
    </div>

</div>





<!-- 

<div class="container">
  <header>
    <h3>REPORT</h3>
    <div class="btn">
      <button>Report</button>
      <button>Pdf</button>
      <button>Print</button>
    </div>
  </header>
  <main>
    <app-side-bar></app-side-bar>
    <app-print-form></app-print-form>
    <app-side-bar></app-side-bar>
  </main>
</div> -->
