<div>
  <div
    class="w-full h-[20%] flex items-center justify-between bg-black text-white p-4"
  >
    <h1 class="font-bold text-3xl">REPORT</h1>
    <div class="flex gap-3">
      <button class="border border-white px-4 py-2 rounded hover:bg-gray-700">
        PRINT
      </button>
      <button class="border border-white px-4 py-2 rounded hover:bg-gray-700">
        PDF
      </button>
      <button class="border border-white px-4 py-2 rounded hover:bg-gray-700">
        REPORT
      </button>
    </div>

    <app-print-form></app-print-form>
  </div>

  <!-- 

<div class="container">
  <header>
    <h3>REPORT</h3>
    <div class="btn">
      <button>Report</button>
      <button>Pdf</button>
      <button>Print</button>
    </div>
  </header>
  <main>
    <app-side-bar></app-side-bar>
    <app-print-form></app-print-form>
    <app-side-bar></app-side-bar>
  </main>
</div> -->
</div>
